@import "tailwindcss";

@font-face {
  font-family: "PyeojinGothic-Bold";
  font-weight: normal;
  src: url("./fonts/PyeojinGothic-Regular.ttf") format("truetype");
}

body {
  font-family: "PyeojinGothic-Bold";
}
